{{ define "title" }} Artist #{{ .Artist.ArtistId }} {{ end }} {{ define "main"
}} {{ with .Artist }}
<div class="entry">
    <div class="metadata">
        <strong>{{ .Name }}</strong>
        <span>ArtistID: {{ .ArtistId }}</span>
    </div>
    <pre><code>Genre: {{ .Genre }}</code></pre>
    <pre><code>Formation: {{humanDate .Formation }}</code></pre>
    <div class="metadata">
        <time>Created: {{humanDate .Created }}</time>
        <time>Expires: {{humanDate .Expires }}</time>
    </div>
</div>
{{ end }} {{ end }}
