{{ define "title" }} Track #{{ .Track.TrackId }} {{ end }} {{ define "main" }}
{{ with .Track }}
<div class="entry">
    <div class="metadata">
        <strong>{{ .Title }}</strong>
        <span>{{ .ArtistId }}</span>
        <span>{{ .AlbumId }}</span>
    </div>
    <pre><code>Genre: {{ .Genre }}</code></pre>
    <pre><code>Duration: {{ .Duration }}</code></pre>
    <div class="metadata">
        <time>Created: {{ .Created }}</time>
        <time>Expires: {{ .Expires }}</time>
    </div>
</div>
{{ end }} {{ end }}
